@charset "UTF-8";
html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  font-weight: 400;
  background: #030303;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
}

h2 {
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 34px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  background: linear-gradient(112.8deg, #50E1FC 14.8%, #AE62F7 85.2%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 18px;
}
h5.plain {
  background: unset;
  background-clip: unset;
  -webkit-text-fill-color: unset;
}
h5.sm {
  font-size: 16px;
  line-height: 18px;
}

h6 {
  font-size: 18px;
  line-height: 18px;
}

p.big {
  font-size: 18px;
  line-height: 28px;
}
p.ex {
  font-size: 24px;
  line-height: 36px;
}

ul li {
  font-size: 18px;
  line-height: 28px;
  list-style: none;
}
ul li.big {
  font-size: 20px;
  line-height: 28px;
}

main {
  overflow: hidden;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 36px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #030303;
  border: 1px solid #fff;
}
.button.primary {
  background: linear-gradient(112.8deg, #50E1FC 14.8%, #AE62F7 85.2%);
  border-color: transparent;
}
.button.uniq {
  color: #030303;
  background-color: #fff;
}
.button__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button__row .button {
  margin-right: 22px;
}
.button__row .button:last-child {
  margin-right: 0;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 216%;
}
.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video video [poster] {
  width: 100%;
  height: 100%;
}
.video video:hover ~ .video__play.active {
  opacity: 1;
}
.video::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 105%;
  height: 110%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../images/phone.png") center no-repeat;
  background-size: cover;
  z-index: 4;
  pointer-events: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header .auto__container {
  max-width: 1820px;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}
.header__inner-logo img {
  width: 100%;
}
.header__inner .button {
  font-weight: 500;
  padding: 18px 30px;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner li {
  margin-right: 36px;
}
.nav__inner li:last-child {
  margin-right: 0;
}
.nav__inner li a {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
}

.burger {
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  position: relative;
  width: 30px;
  height: 30px;
}
.burger:hover {
  opacity: 0.8;
}
.burger::before {
  top: 20%;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger span {
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-ransform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.burger::after {
  bottom: 20%;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active span {
  opacity: 0;
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
  transform: translate(-50%, 50%) rotate(-45deg);
}

.hero {
  padding: 200px 0 90px;
  position: relative;
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__bg-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero__bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.hero__bg-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero__bg-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.hero__inner-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1060px;
  margin: 0 auto 90px;
}
.hero__inner-slider {
  padding-bottom: 30px;
}
.hero__inner h1 {
  margin-bottom: 24px;
}
.hero__inner p {
  color: #9D9AA7;
  margin-bottom: 60px;
}
.hero__inner .slick-slide {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.hero__inner .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.hero__inner .slick-current {
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}
.hero__inner .slick-list {
  padding: 90px 0 0 0 !important;
}
.hero__inner .slick-dots {
  bottom: unset;
  top: 100%;
}
.hero__inner .slick-dots li {
  margin: 0 9px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 6px;
}
.hero__inner .slick-dots li.slick-active button {
  background: linear-gradient(112.8deg, #50E1FC 14.8%, #AE62F7 85.2%);
  opacity: 1;
}
.hero__inner .slick-dots li button {
  width: 36px;
  height: 6px;
  background: #fff;
  opacity: 0.12;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.hero__inner .slick-dots li button::before {
  display: none;
}
.heroItem {
  border-radius: 36px;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.12);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  max-width: 460px;
  margin: 0 10px;
  cursor: pointer;
}
.heroItem__inner {
  background-color: #212025;
  border-radius: 22px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.heroItem__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
.heroItem__image img {
  width: 100%;
  border-radius: 22px 22px 0 0;
}
.heroItem__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 22px;
}
.heroItem__user-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: linear-gradient(112.8deg, #50E1FC 14.8%, #AE62F7 85.2%);
  padding: 2px;
  margin-right: 10px;
}
.heroItem__user-avatar img {
  width: 100%;
  border-radius: 50%;
}
.heroItem h3 {
  margin-bottom: 18px;
  font-weight: 500;
}
.heroItem h5 {
  font-weight: 500;
}

.benefits {
  padding: 120px 0;
}
.benefits.big .auto__container {
  max-width: 1620px;
}
.benefits.big .benefitsItem {
  width: calc(33.3% - 32px);
}
.benefits__inner {
  text-align: center;
}
.benefits__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -16px;
}
.benefits__inner h2 {
  margin-bottom: 60px;
}
.benefitsItem {
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.04);
  padding: 48px 30px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 16px;
  width: calc(25% - 32px);
}
.benefitsItem__icon {
  width: 72px;
  height: 72px;
  margin-bottom: 24px;
}
.benefitsItem__icon img {
  width: 100%;
}
.benefitsItem h4 {
  margin-bottom: 18px;
  font-weight: 700;
}
.benefitsItem h3 {
  margin-bottom: 24px;
  font-weight: 700;
}
.benefitsItem p {
  color: #9D9AA7;
}

.intro .auto__container {
  max-width: 1360px;
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro__inner-content {
  width: calc(50% - 20px);
}
.intro__inner h2 {
  margin-bottom: 24px;
}
.intro__inner ul {
  margin-bottom: 24px;
}
.intro__inner ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 8px;
}
.intro__inner ul li:last-child {
  margin-bottom: 0;
}
.intro__inner ul li:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.intro__inner p {
  color: #9D9AA7;
  margin-bottom: 24px;
}
.intro__inner p:last-of-type {
  margin-bottom: 48px;
}

.footer {
  position: relative;
}
.footer__inner {
  padding: 43px 0 60px;
  max-width: 950px;
  margin: 0 auto;
}
.footer__inner-logo {
  width: 30%;
  max-width: 152px;
  margin: 0 auto 30px;
}
.footer__inner-logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__inner-linsk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
}
.footer__inner-linsk a {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  margin-right: 36px;
  font-weight: 600;
}
.footer__inner-linsk a:last-child {
  margin-right: unset;
}
.footer__inner-info {
  font-size: 18px;
  line-height: 35px;
  color: #9D9AA7;
  margin-bottom: 48px;
  text-align: center;
}
.footer__inner-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 26px;
}
.footer__inner-social a {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #9D9AA7;
  display: block;
  position: relative;
  margin-right: 12px;
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.footer__inner-social a:nth-child(1) svg {
  left: 53%;
  top: 52%;
  width: 23px;
}
.footer__inner-social a::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(112.8deg, #50E1FC 14.8%, #AE62F7 85.2%);
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.footer__inner-social a:last-child {
  margin-right: unset;
}
.footer__inner-social a svg {
  width: 25px;
  height: 21px;
  fill: #9D9AA7;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-ransform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.footer__inner-social a:hover {
  border: transparent;
}
.footer__inner-social a:hover::before {
  opacity: 1;
}
.footer__inner-social a:hover svg {
  fill: #fff;
}
.footer__inner-copy {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
.footer__inner-copy strong {
  font-weight: 600;
}
.footer__bg {
  width: 100%;
  height: calc(100% + 150px);
  position: absolute;
  top: -27.5%;
  left: 0;
  z-index: -1;
}
.footer__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.join {
  padding-top: 60px;
}
.join__inner {
  padding: 90px;
  background: linear-gradient(112.8deg, #50E1FC 14.8%, #AE62F7 85.2%);
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 36px;
}
.join__inner h2 {
  color: #030303;
  font-weight: 700;
}
.join__inner h2 small {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #030303;
  margin-bottom: 18px;
  font-weight: 400;
}

.tax__inner {
  max-width: 1072px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}
.tax__inner h2 {
  margin-bottom: 56px;
}
.tax__inner > h3 {
  background: linear-gradient(112.8deg, #50e1fc 14.8%, #ae62f7 85.2%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 33px 0 25px;
  line-height: 33px;
}
.tax__inner .taxItem {
  padding: 48px 30px;
  border-radius: 36px;
  background-color: #121212;
  min-height: 196px;
  max-width: 336px;
  width: calc(33.3% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tax__inner .taxItem h4 {
  margin-bottom: 18px;
  font-weight: 700;
}
.tax__inner .taxItem h6 {
  color: #9D9AA7;
}
.tax__inner .taxItem.center {
  margin: 0 auto;
}
.tax__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}
.tax__inner p {
  max-width: 959px;
  margin: 0 auto 120px;
}
.tax__inner-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 920px;
  margin: 0 auto;
}
.tax__inner-logos a {
  width: calc(33.3% - 15px);
  max-width: 252px;
  height: 72px;
}
.tax__inner-logos a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart {
  padding: unset;
}
.cart__inner {
  padding: 60px 0 40px;
  text-align: center;
  max-width: 1210px;
  margin: 0 auto;
}
.cart__inner h5 {
  text-transform: uppercase;
  font-weight: 500;
}
.cart__inner h2 {
  margin-bottom: 60px;
}
.cart__inner-graphs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 66px;
}
.cart__inner-graphs img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
}
.cart__inner-row .cartItem {
  width: calc(50% - 15px);
  padding: 48px 20px;
  background: #030303;
  border: 1px solid #3F3E42;
  border-radius: 36px;
}
.cart__inner-row .cartItem h3 {
  background: linear-gradient(112.8deg, #50e1fc 14.8%, #ae62f7 85.2%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-bottom: 24px;
  font-weight: 700;
}
.cart__inner-row .cartItem a {
  display: block;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 25px;
}
.cart__inner-row .cartItem a:last-child {
  margin-bottom: unset;
}

.roadmap__inner {
  text-align: center;
  padding: 60px 0 70px;
  max-width: 1192px;
  margin: 0 auto;
}
.roadmap__inner h5 {
  font-weight: 500;
  text-transform: uppercase;
}
.roadmap__inner h2 {
  margin-bottom: 60px;
}
.roadmap__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.roadmap__inner-main .roadmapItem {
  max-width: 524px;
  padding: 36px;
  border-radius: 36px;
  background-color: #121212;
  text-align: left;
  margin-top: -32px;
  width: calc(50% - 72px);
  position: relative;
}
.roadmap__inner-main .roadmapItem li {
  margin-bottom: 20px;
}
.roadmap__inner-main .roadmapItem li:last-child {
  margin-bottom: unset;
}
.roadmap__inner-main .roadmapItem::after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  right: -79px;
  z-index: 2;
}
.roadmap__inner-main .roadmapItem::before {
  content: "";
  width: 48px;
  height: 48px;
  background-color: #212025;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  right: -96px;
  z-index: 1;
}
.roadmap__inner-main .roadmapItem h3 {
  margin-bottom: 24px;
  background: linear-gradient(112.8deg, #50e1fc 14.8%, #ae62f7 85.2%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  line-height: 24px;
  font-weight: 700;
}
.roadmap__inner-main .roadmapItem:nth-child(odd) {
  margin: -32px 0 0 auto;
}
.roadmap__inner-main .roadmapItem:nth-child(odd)::before {
  right: unset;
  left: -96px;
}
.roadmap__inner-main .roadmapItem:nth-child(odd):after {
  right: unset;
  left: -79px;
}
.roadmap__inner-main .roadmapItem:first-child {
  margin-top: 0;
}
.roadmap__inner-main .line {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  height: calc(100% + 10px);
}
.roadmap__inner-main .line img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}