// colors
$primary: #256f64;
$main : #5d83e5;
$black: #000;
$white: #fff;
// fonts
$inter: 'Inter', sans-serif;



$gray:#9D9AA7;

$gradient: linear-gradient(112.8deg, #50E1FC 14.8%, #AE62F7 85.2%);



