// colors
$main: #030303;
$black: #000;
$black-2: #212025;
$black-3: #121212;
$white: #fff;
$gray: #9D9AA7;
$gradient: linear-gradient(112.8deg, #50E1FC 14.8%, #AE62F7 85.2%);

// fonts
$poppins: 'Poppins', sans-serif;



$gray:#9D9AA7;

$gradient: linear-gradient(112.8deg, #50E1FC 14.8%, #AE62F7 85.2%);



