.hero {
    padding: 200px 0 90px;
    position: relative;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            &.mob {
                display: none
            }
            img {
                @include fullImage;
            }
        }
        &-grid {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: .7;
            img {
                @include fullImage;
            }
        }
    }
    &__inner {
        &-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1060px;
            margin: 0 auto 90px;
        }
        &-slider {
            padding-bottom: 30px;
            margin: 0 -15px;
        }
    
        h1 {
            margin-bottom: 24px;
        }
        p {
            color: $gray;
            margin-bottom: 60px;
        }
        .slick {
            &-slide {
                transition: .6s ease;
            }
            &-track {
                display: flex !important;
                align-items: flex-end;
            }
            &-current {
                transform: translateY(-90px);
            }
            &-list {
                padding: 90px 0 0 0 !important;
            }
            &-dots {
                bottom: unset;
                top: 100%;
                li {
                    margin: 0 9px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 36px;
                    height: 6px;
                    &.slick-active {
                        button {
                            background: $gradient;
                            opacity: 1;
                        }
                    }
                    button {
                        width: 36px;
                        height: 6px;
                        background: $white;
                        opacity: .12;
                        padding: 0;
                        margin: 0;
                        transition: .4s ease;
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &Item {
        border-radius: 36px;
        padding: 18px;
        background-color: rgba($white, .12);
        backdrop-filter: blur(50px);
        max-width: 460px;
        margin: 0 15px;
        cursor: pointer;
        &__inner {
            background-color: $black-2;
            border-radius: 22px;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 24px;
            img {
                width: 100%;
                border-radius: 22px 22px 0 0;
            }
        }
        &__user {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 22px;
            &-avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: $gradient;
                padding: 2px;
                margin-right: 10px;
                width: 38px;
                height: 38px;
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
        h3 {
            margin-bottom: 18px;
            font-weight: 500;

        }
        h5 {
            font-weight: 500;
            margin: 0;
        }
    }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
    .hero {
        padding: 180px 0 90px;
        &__inner {
            &-slider {
                margin: 0 -10px;
            }
        }
        &Item {
            margin: 0 10px;
            h3 {
                font-size: 24px;
                line-height: 26px;
            }
        }
    }
}
// 1250px
@mixin hero-xlg-xxlg-extra {
    .hero {

    }
}
// 1180px
@mixin hero-xlg-xxlg {
    .hero {
        padding: 160px 0 90px;
        &__inner {
            &-content {
                margin-bottom: 80px;
            }
            &-slider {
                margin: 0 -6px;
            }
            p {
                margin-bottom: 50px;
            }

        }
        &Item {
            padding: 12px;
            margin: 0 6px;
            h3 {
                font-size: 20px;
                line-height: 22px;
            }
            h5 {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
}
// 1024px
@mixin hero-lg-xlg {
    .hero {
        padding: 140px 0 90px;
        &__inner {
            .slick {
                &-current {
                    transform: translateY(-60px);
                }
                &-list {
                    padding: 60px 0 0 0 !important;
                }
            }
        }
        &Item {
            &__image {
                margin-bottom: 18px;
            }
            &__user {
                margin-bottom: 18px;
                &-avatar {
                    width: 30px;
                    height: 30px;
                    margin-right: 6px;
                }
            }
            h3 {
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 12px;
            }
            h5 {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}
// 930px
@mixin hero-md-lg {
    .hero {
        &__inner {
            &-content {
                margin-bottom: 60px;
            }
            h3 {
                font-size: 16px;
                line-height: 18px;
            }
            p {
                margin-bottom: 36px;
            }
        }
    }
}
// 750px
@mixin hero-sm-md {
    .hero {
        &__inner {
            .slick {
                &-current {
                    transform: translateY(0);

                }
                &-list {
                    padding: 0 !important;
                }
            }
        }
    }
}
// 650px
@mixin hero-sm-md-extra {
    .hero {

    }
}
// 540px
@mixin hero-xsm-sm {
    .hero {
        padding: 124px 0 90px;
        &__bg {
            &-image {
                display: none;
                &.mob {
                    display: block;
                }
            }
        }
        &__inner {
            &-slider {
                margin: 0 -18px;
                padding-bottom: 20px;

            }
            .slick {
                &-current {
                    transform: translateY(0);

                }
                &-list {
                    padding: 0  30px!important;
                }
            }
        }
        &Item {
            &__user {
                &-avatar {
                    width: 24px;
                    height: 24px;
                }
             
            }
        }
    }
}
// 440px
@mixin hero-xxsm-xsm {
    .hero {
        &__inner {
            &-slider {
                margin: 0 -8px;
            }
            .slick {
                &-current {
                    transform: translateY(0);

                }
                &-list {
                    padding: 0 !important;
                }
            }
            h1 {
                margin-bottom: 20px;
            }
        }
        &Item {
            margin: 0 8px;

        }
    }
}
.benefits {
    padding: 120px 0;
    &.big{ 
        .auto__container {
            max-width: 1620px;
        }
        .benefitsItem {
            width: calc(33.3% - 32px);
        }
    }
    &__inner {
        text-align: center;
        &-row {
            display: flex;
            justify-content: space-between;
            margin: 0 -16px;
        }


        h2 {
            margin-bottom: 60px;
        }
     
    }
    &Item {
        border-radius: 36px;
        background-color: rgba($white, 0.04);
        padding: 48px 30px 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 16px;
        width: calc(25% - 32px);
        &__icon {
            width: 72px;
            height: 72px;
            margin-bottom: 24px;
            img {
                width: 100%;
            }
        }
        h4 {
            margin-bottom: 18px;
            font-weight: 700;
        }
        h3 {
            margin-bottom: 24px;
            font-weight: 700;

        }
        p {
            color: $gray;
        }
    }
}
.intro {
    padding: 80px 0;
    .auto__container {
        max-width: 1360px;
    }
    &__inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        &-banner {
            width: calc(50% - 20px);
            max-width: 490px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            &::before {
                width: 100%;
                height: 76%;
                top: 50%;
                left: 0;
                border-radius: 50%;
                content: "";
                position: absolute;
                backdrop-filter: blur(50px);
                background-color: rgba($white, .12);
                transform: translateY(-50%);
            }
        }
        &-content {
            width: calc(50% - 20px);
            max-width: 620px;
        }
        h2 {
            margin-bottom: 24px;
        }
        ul {
            margin-bottom: 24px;
            li {
                position: relative;
                padding-left: 30px;
                margin-bottom: 8px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:before {
                    position: absolute;
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $white;
                    top: 12px;
                    left: 10px;
                }
            }
        }
        p {
            color: $gray;
            margin-bottom: 24px;
            &:last-of-type {
                margin-bottom: 48px;
            }
        }
    }
}
// 1180px
@mixin intro-xlg-xxlg {
    .intro {
        padding: 40px 0;
        &__inner {
            &-content {
                width: calc(55% - 20px);
            }
            &-banner {
                width: calc(45% - 20px);
            }
        }
    }
}
// 1024px
@mixin intro-lg-xlg {
    .intro {
        &__inner {
            &-content {
                width: calc(55% - 12px);
            }
            &-banner {
                width: calc(45% - 12px);
            }
            h5 {
                margin-bottom: 14px;
            }
            h2 {
                margin-bottom: 22px;
            }
            ul {
                margin-bottom: 18px;
                li {
                    position: relative;
                    padding-left: 24px;
                    margin-bottom: 5px;
                    &:before {
                        top: 10px;
                        left: 8px;
                    }
                }
            }
            p {
                margin-bottom: 18px;
                &:last-of-type {
                    margin-bottom: 34px;
                }
            }
        }
    }
}
// 930px
@mixin intro-md-lg {
    .intro {

    }
}
// 750px
@mixin intro-sm-md {
    .intro {
        padding: 0;
        &__inner {
            &-content {
                width: calc(60% - 8px);
            }
            &-banner {
                width: calc(40% - 8px);
            }
            h5 {
                margin-bottom: 6px;
            }
            h2 {
                margin-bottom: 10px;
            }
            ul {
                margin-bottom: 10px;
                li {
                    padding-left: 20px;
                    &:before {
                        top: 9px;
                        left: 8px;
                        width: 4px;
                        height: 4px;
                    }
                }
            }
            p {
                margin-bottom: 10px;
                &:last-of-type {
                    margin-bottom: 24px;
                }
            }
        }
    }
}
// 650px
@mixin intro-sm-md-extra {
    .intro {
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-content {
                width: 100%;
                max-width: unset;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &-banner {
                width: 100%;
                max-width: 400px;
                position: relative;
                margin: 0 auto 42px;
                transform: translate(0);
            }
            &-header {
                margin-bottom: 42px;
                text-align: center;
            }
            h5 {
                margin-bottom: 12px;
            }
            h2 {
                margin-bottom: 0;
            }
            ul {
                margin-bottom: 18px;
                align-self: flex-start;
                li {
                    padding-left: 20px;
                    margin-bottom: 10px;
                    &:before {
                        top: 9px;
                        left: 8px;
                        width: 4px;
                        height: 4px;
                    }
                }
            }
            p {
                margin-bottom: 18px;
                text-align: center;
                &:last-of-type {
                    margin-bottom: 24px;
                }
            }
        }
    }
}
// 540px
@mixin intro-xsm-sm {
    .intro {

    }
}
// 440px
@mixin intro-xxsm-xsm {
    .intro {

    }
}