h1 {
    font-weight: 700;
    font-size: 120px;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}
p {

}
main {
    overflow: hidden;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
