h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
}

h2 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    line-height: 34px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    background: linear-gradient(112.8deg, #50E1FC 14.8%, #AE62F7 85.2%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 18px;
    &.plain {
        background: unset;
        background-clip: unset;
        -webkit-text-fill-color: unset;
    }
    &.sm {
        font-size: 16px;
        line-height: 18px;
    }
}

h6 {
 
}
p {
    &.big {
        font-size: 18px;
        line-height: 28px;
    }
    &.ex {
        font-size: 24px;
        line-height: 36px;
    }
}
ul {
    li {
        font-size: 18px;
        line-height: 28px;
        list-style: none;
        &.big {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

main {
    overflow: hidden;
}
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 36px;
    border-radius: 100px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    background-color: $main;
    border: 1px solid $white;
    &.primary {
        background: linear-gradient(112.8deg, #50E1FC 14.8%, #AE62F7 85.2%);
        border-color: transparent;
    }
    &.uniq {
        color: $main;
        background-color: $white;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        .button {
            margin-right: 22px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

}
.video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 216%;
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        [poster]{
            width: 100%;
            height: 100%;
        }
        &:hover {
            & ~ .video__play.active {
                opacity: 1;
            }
        }
    }
    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        width: 105%;
        height: 110%;
        transform: translate(-50%, -50%);
        background: url("../images/phone.png") center no-repeat;
        background-size: cover;
        z-index: 4;
        pointer-events: none;
    }
}