.nav {
    &__inner {
        display: flex;
        align-items: center;
        li {
            margin-right: 36px;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
                color: $white;
            }
        }
        .button {
            display: none;
        }
    }
}
.burger {
    display: none;
    cursor: pointer;
    @include transition;
    position: relative;
    width: 26px;
    height: 26px;
    margin-left: 18px;

    &:hover {
        opacity: .8;
    }
    &::before {
        top: 0;
        width: 100%;
        height: 3px;
        background-color: $white;
        transition: all 0.3s ease;
        content: "";
        position: absolute;
        right: 0;
    }
    span {
        top: 50%;
        width: 75%;
        height: 3px;
        background-color: $white;
        transition: all 0.3s ease;
        position: absolute;
        right: 0;
        @include transition;
        transform: translateY(-50%);
    }
    &::after {
        bottom: 0;
        width: 50%;
        height: 3px;
        background-color: $white;
        transition: all 0.3s ease;
        content: "";
        position: absolute;
        right: 0;
    }
}
// 1380px
@mixin nav-xxxlg-xxxxlg {
    .nav {
      &__inner {
        li {
            margin-right: 24px;
            a {
                font-size: 16px;
                line-height: 18px;
            }
        }
      }
    }
  }
// 1024px
@mixin nav-lg-xlg {
    body.active {
        overflow: hidden;
    }
    .nav {
        position: fixed;
        top: 88px;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        z-index: 9;
        background: rgba($color: #000000, $alpha: 0.01);
        transform: translateX(100%);
       transition: .4s ease;
        &.active {
            @include transformReset;
        }
        &__inner {
            flex-direction: column;
            position: absolute;
            justify-content: unset;
            align-items: flex-start;
            box-sizing: border-box;
            top: 0;
            right: 18px;
            width: 196px;
            z-index: 1;
            padding: 24px;
            height: auto;
            overflow-y: auto;
            background: $black;
            border-radius: 12px;
            border: 1px solid #3F3E42;
            li {

                margin: 0 0 26px 0;

            }
            .button {
                display: inline-flex;
            }
        }
    }
    .burger {
        display: block;
    }
}
// 540px
@mixin nav-xsm-sm {
    .nav {
        top: 70px;
    }
    .burger {
        width: 18px;
        height: 18px;
        &::before {
            height: 2px;
        }
        span {
            height: 2px;
        }
        &::after {
            height: 2px;
        }
    }
}